extends ../layout/main

block variables
	- var title = 'Главная';

block content
	include ../modules/header
	main
		.filter-employ
			form.filter-employ__head
				ul.filter-employ__alphabet
					-
						const alp = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я']
					each a in alp
						if (a == 'Й')
							li
								button(disabled)=a
						else if (a == 'Д')
							li
								button._active=a
						else
							li
								button=a
				.filter-employ__search
					input.filter-employ__search-input(type='text' placeholder='Введите текст')
					button.filter-employ__search-btn(type='submit')
						svg(viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg')
							path(d='M20.188 18.553l-3.116-3.115a.75.75 0 00-.53-.22h-.51a6.467 6.467 0 001.375-3.999c0-3.59-2.91-6.499-6.5-6.499s-6.499 2.91-6.499 6.5 2.909 6.499 6.5 6.499a6.469 6.469 0 003.999-1.375v.51c0 .2.078.39.219.53L18.24 20.5a.747.747 0 001.06 0l.884-.885a.753.753 0 00.003-1.062zm-9.28-3.334c-2.21 0-4-1.787-4-4 0-2.209 1.787-4 4-4a3.997 3.997 0 013.999 4c0 2.21-1.787 4-4 4z')

			.filter-employ__list-wrp
				ul.filter-employ__list
					-
						const names = ['АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина ' +
						'Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина ' +
						'Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина ' +
						'Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина Васильевна', 'АБРАМОВА Галина ' +
						'Васильевна', 'АБРАМОВА Галина Васильевна']
					each name in names
						li
							a(href='#')=name
				.filter-employ__list-pagination
					.prev
						a(href='#')
							svg(viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M8.895 4.127l-.704.715a.439.439 0 000 .614L14.614 12 8.19 18.544a.439.439 0 000 .614l.704.715a.42.42 0 00.603 0l7.443-7.566a.439.439 0 000-.614L9.498 4.127a.422.422 0 00-.603 0z' fill='currentColor')

					ul
						li
							a(href='#') 1
						li
							a(href='#') 2
						li._active
							a(href='#') 3
						li
							a(href='#') 4
						li
							a(href='#') 5
					.next
						a(href='#')
							svg(viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M8.895 4.127l-.704.715a.439.439 0 000 .614L14.614 12 8.19 18.544a.439.439 0 000 .614l.704.715a.42.42 0 00.603 0l7.443-7.566a.439.439 0 000-.614L9.498 4.127a.422.422 0 00-.603 0z' fill='currentColor')

				.filter-employ__list-date
					span Дата создания: 29 июня 2021
					span Дата создания: 29 июня 2021


		.filter-employ__card
			.filter-employ__card-img
				img(src='/upload/iblock/be2/photo_1484601767433_5a38c49cd738.jpg')
			.filter-employ__card-text
				p Машинист тепловоза комбината Дальневосточного теруправления Росрезерва
				p Работает в системе государственного материального резерва с 1994 года. Участник боевых действий в Республике Афганистан. Награжден медалью «За отвагу».

	include ../modules/footer
