@import "smart-grid";
.region-menu__list > li > .region-menu__tab a{
    background-color: #172534;
}

body .filter-employ {

    @include xxs-block(){
        padding: 15px;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    ul{
        &:not(.filter-employ__alphabet):not(.filter-employ__list){
            margin: 0;
        }

    }
    li {
        margin: 0;
        padding: 0;

        &::before {
            content: none !important;
        }
    }
    a{
        display: inline-block;
    }

    &__head {
        margin-bottom: 16px;
    }

    &__alphabet {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 16px;
        max-width: 100%;

        li {
            padding: 0;
            margin: 0;
            list-style: none;

            button {
                position: relative;
                text-align: left;
                display: inline-flex;
                flex-direction: row;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                max-width: 100%;
                height: 48px;
                width: 48px;
                padding: 10px;
                background-color: #fff;
                color: rgb(0, 120, 189);
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                text-decoration: none;
                word-break: break-word;
                transition: all 0.3s ease 0s;
                border: 0;
                &:active{
                    transform: translateY(2px);
                }

                &[disabled] {
                    background-color: rgb(220, 224, 226);
                    color: rgb(142, 167, 182);
                    pointer-events: none;
                }

                &._active {
                    background-color: rgb(0, 120, 189);
                    color: rgb(255, 255, 255);
                }

                &:hover:not(._active) {
                    opacity: 0.9;
                    background-color: rgba(221, 218, 218, 0.4);
                    border-color: rgba(221, 218, 218, 0.4);
                    color: rgb(0, 120, 189);
                }
            }
        }
    }

    &__search {
        position: relative;

        &-input {
            display: inline-block;
            cursor: auto;
            word-break: break-word;
            max-width: 100%;
            width: 100%;
            color: rgb(29, 29, 29);
            padding: 10px;
            border: 1px solid rgba(221, 218, 218, 0.8);
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 1.5;
            text-overflow: inherit;
        }

        &-btn {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 60px;
            height: calc(100% - 2px);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            background: none;
            border: 0;
            border-left: 1px solid rgba(221, 218, 218, 0.8);
            cursor: pointer;

            &:hover {
                background-color: rgba(221, 218, 218, 0.5);
            }

            svg {
                width: 25px;
                height: 25px;
                fill: #262626;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 10px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        @include xxs-block(){
            gap: 10px;
        }
        li {
            list-style: none;
            width: calc(33.33% - 10px);
            @include sm-block(){
                width: calc(50% - 10px);
            }
            @include xxs-block(){
                width: 100%;
            }

            a {
                text-decoration: none;
                position: relative;
                display: inline-flex;
                flex-direction: row;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: start;
                justify-content: flex-start;
                word-break: break-word;
                max-width: 100%;
                color: rgb(0, 120, 189);
                font-size: 16px;
                line-height: 1.5;
                font-weight: 400;
                text-transform: none;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover{
                    opacity: 0.8;
                }
            }
        }

        &-wrp {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-pagination {
            display: flex;
            align-items: center;

            .next, .prev {
                display: inline-flex;
                align-items: center;
                a{
                    display: inline-flex;
                    align-items: center;
                }
                svg {
                    width: 25px;
                    height: 25px;
                    fill: #262626;
                    stroke: #262626;
                }
            }

            .prev {
                svg {
                    transform: rotate(180deg);
                }
            }

            .next {

            }

            ul {
                display: flex;

                li {
                    margin: 0 5px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #262626;
                        font-size: 20px;
                        padding: 5px;
                        &:hover{
                            opacity: 0.8;
                        }
                    }

                    &._active {
                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &-date {
            span {
                display: block;
                color: #adadad;
                line-height: 1.4;
                font-size: 14px;
            }
        }
    }

    &__card{
        display: flex;
        @include xxs-block(){
            flex-wrap: wrap;
        }
        &-img{
            width: 130px;
            min-height: 195px;
            position: relative;
            @include xxs-block(){
                width: 100%;
                height: 195px;
            }
            img{
                position: absolute;
                inset: 0px;
                object-fit: cover;
                object-position: center center;
                max-width: none;
                max-height: none;
                height: 100%;
                width: 100%;
            }
        }
        &-text{
           padding: 20px;
            width: calc(100% - 130px);
            @include xxs-block(){
                width: 100%;
            }
            p{
                margin-top: 0;
                text-indent: 0;
                margin-bottom: 15px;
                line-height: 1.4;
                text-align: left;
            }
        }
    }

}
